<div class="row head text-center justify-content-center">
    <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/admin/dashboard/posts">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Admin</a>
            </li>
            <li class="nav-item">
            </li>
          </ul>
</div>