<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
   <div class="container-fluid">
      <header>
          <div class="row head text-center justify-content-center">
                <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link" href="#">Posts</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Categories</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Admin</a>
                        </li>
                        <li class="nav-item">
                        </li>
                      </ul>
            </div>
      </header>

   </div>
        <script src="../../assets/js/bootstrap.js"></script>
</body>

</html>