<!DOCTYPE html>
<html lang="en">

  <%include ../header.ejs%>

<body>
   <div class="container-fluid">
      <header>
        <%include dashboardMenu.ejs%>
      </header>

   </div>
        <script src="../../assets/js/bootstrap.js"></script>
</body>

</html>